body {
    background-color: #CBF1F5;
    }
    hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 50%
    text-align: center;
    }
    img {
    height: 100px;
    width: 150px;
    }
    iframe {
    height: 100px;
    width: 150px;
    }
    h1 {
    color: #00FFFF;
    box-shadow: inset 0px 0px 0px 1000px #CBF1F5;
    }
    h3 {
    color: #00FFFF;
    box-shadow: inset 0px 0px 0px 1000px #CBF1F5;
    }

    h2 {
    color: #66BFBF;
    }
    body{
    text-align: center;
    }

    li {
     float: left;
   }

   a {
    display: inline-block;
      padding: 3px 3px;
      font-size: 11px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #00CED1;
      border: none;
      border-radius: 3px;
      box-shadow: 0 9px #999;
   }
   a:hover {background-color: #AFEEEE}

a:active {
  background-color: #AFEEEE;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


  ul {
    width: 200px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

li {
    width: 100px;
    float: left;
    display: inline;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #CBF1F5;
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00CED1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #888;
}

button:hover {background-color: #AFEEEE}

button:active {
  background-color: #AFEEEE;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

